* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 10px;
}

/*    FORMATOWANIE OGOLNE -- END --    */

main {
    height: 100vh;
}

/*     MENU NAWIGACYJNE     */
#navi {
    background-color: rgba(255, 255, 255, 0.38);
    text-align: right;
    position: fixed;
     width: 100%;
}

.menu {
    padding-right: 2%;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;    
   
}
/*     MENU NAWIGACYJNE -- END --     */


/* NAGLOWEK */

header {
    background-image: url(../img/man-1.jpg);
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    padding: 4%;
}

header >* {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    color: white;
    font-family: verdana;
}

/* FORMATOWANIE GŁOWNEGO OKNA OBRAZU PRODUKTU*/

.style-product {
    width: 20%;
    float: left;
    position: relative;
    display: inline-block;
    padding-bottom: 20%;
    margin: 2.5%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    top: 10%;
    box-shadow: 0px 5px 13px #a5a5a5;  
    transition: 0.4s;
    margin-top: 5%;
}
/* FORMATOWANIE GŁOWNEGO OKNA OBRAZU PRODUKTU - END - */

#product1 {
    background-image: url(../img/product-1.jpg);

}

#product2 {
    background-image: url(../img/product-2.jpg);

}

#product3 {
    background-image: url(../img/product-3.jpg);

}

#product4 {
    background-image: url(../img/product-4.jpg);

}


.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50%;
    padding-bottom: 45%;
    border-bottom: solid 1px #acacac;
    opacity: 0;
    transition: 0.5s;
}


.fa:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.69);
}

.fa:hover ~ .disc {
    opacity: 1;
}

.disc {
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
    top: 110%;
    font-size: 1em;
    color: #6c6c6c;
    opacity: 0;
    transition: 0.5s;
}
